/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em)
{
    .nav
    {
        padding-top: 0 !important;
    }
    .cf-product
    {
        margin-top: 0 !important;
    }
    .product-warp h2
    {
        margin-left: 74px;
    }
    .side-product
    {
        top: 200em;
    }
    #footer
    {
        margin-top: 155em;
    }
}
/* Tablet: Width >= 740px and Width <1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em)
{
    .list-title h2
    {
        padding-top: 1em !important;
        position: relative;
        bottom: 0.8em;
    }
    .side-product h2
    {
        font-size: 20px;
        padding-left: 0.5em;
    }
    .side-product .product{
        margin-left: 1em !important;
    }
    hr{
        margin-bottom: 1.5em;
    }
    #footer
    {
        margin-top: 35em !important;
        height: 18em;
    }
    .product4,#among-pro
    {
        margin-top: 2em !important;
    }
    #canva-pro,#random-pro
    {
        margin-top: 5em !important;
    }
    .product3,#monster-pro
    {
        margin-top: 4em !important;
    }
    .product5,.product6
    {
        margin-top: 1em !important;
    }
}